hgroup {
    position: static;
    width: 100%;

    h2 {
      text-align: center;
      width: 80%;
      top: -10px;
    }
  }
  .ellen-and-shin {
    margin: 20px auto 0;
    max-width: 90%;
    background-position: center top;
  }
  #the-tree {
    width: 100%;
    position: static;
    margin-top: -40px;
    z-index: -1;

    svg {
      position: static;
      max-width: 100%;
    }
  }

  nav {
    top: 0;
    height: 50px;
    width: 100%;

    li {
      width: 33.3%;
      .floatL;
    }

    a {
      overflow: hidden;
      height: 50px;
    }

    i {
      position: absolute;
    }

    .home a {
      i {
        top: 3px;
      }
    }
    .rsvp a {
      i {
        top: -22px;
      }
    }
  }