nav {
  width: 50px;
  height: 100%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;

  ul {
    height: 100%;
  }
  li {
    width: 50px;
    height: 33.3%;
    cursor: pointer;
  }
  a {
    cursor: pointer;
    display: block;
    width: 50px;
    height: 100%;
    margin-left: -45px;
    .transition;
    .border-radius(0);
    background: url(../images/dot-bg.png);
    color: inherit;
  }
  li:hover a {
    .border-radius(0 5px 5px 0);
    margin-left: 0;
    //width: 50px;
  }

  span {
    margin-left: 5px;
    font-size: 1.125em;
    display: block;
    width: 200px;
    .transform-origin(0 100%);
    .transform(rotate(90deg));
  }
  i {
    display: block;
  }

  .home a {
    background-color: @green;
    color: @ink;
    padding: 5px 0 0 5px;
    i {
      .size(33px, 43px);
      background: url(../images/i-leaf.png) no-repeat;
    }
  }
  .history a {
    background-color: @pink;
    color: @paper;
    padding: 5px 0 0 5px;
    i {
      .size(34px, 35px);
      background: url(../images/i-heart.png) no-repeat;
      margin: 5px 0 0 0;
    }
  }
  .rsvp a {
    background-color: @darkGreen;
    color: @paper;
    padding: 5px 0 0 5px;
    i {
      .size(48px, 70px);
      background: url(../images/i-watch.png) no-repeat top right;
      margin-left: -15px;
    }
  }
}